<div class="todolist">
    <h3>List of Works Todo:</h3>
    <p class="error-info"></p>
    <ul>
        <li *ngFor="let todo of todos" data-id='{{ todo.id }}' [class.completed]="todo.complete">{{ todo.text }}
            <div class="tools">
                <button class="complete" (click)="onComplete(todo)" ><i class="fas fa-check"></i></button>
                <button class="edit" (click)="onSelect(todo)">EDIT</button>
                <button class="delete" (click)="onDelete(todo)"><i class="fas fa-times"></i></button>
            </div>
        </li>
    </ul>
</div>